<a href="https://colab.research.google.com/github/SurekhaBerlin/Pizza-price-prediction-using-ML/blob/main/Pizza_Price_Prediction_using_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## STEP 1: Importing Libraries

In [1]:
# Importing all the important libraries first

import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
from statsmodels.graphics.gofplots import qqplot
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

## STEP 2: Importing the Data

In [5]:
main_df = pd.read_csv("pizza_v2.csv")
df = main_df.copy()
df.head()

,company,price_rupiah,diameter,topping,variant,size,extra_sauce,extra_cheese,extra_mushrooms
0,A,"Rp235,000",22 inch,chicken,double_signature,jumbo,yes,yes,no
1,A,"Rp198,000",20 inch,papperoni,double_signature,jumbo,yes,yes,no
2,A,"Rp120,000",16 inch,mushrooms,double_signature,reguler,yes,yes,yes
3,A,"Rp155,000",14 inch,smoked_beef,double_signature,reguler,yes,no,yes
4,A,"Rp248,000",18 inch,mozzarella,double_signature,jumbo,yes,no,yes

In [6]:
# Checking the shape of the dataset

df.shape

(129, 9)

In [7]:
# Checking the basic information about the dataset.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   company          129 non-null    object
 1   price_rupiah     129 non-null    object
 2   diameter         129 non-null    object
 3   topping          129 non-null    object
 4   variant          129 non-null    object
 5   size             129 non-null    object
 6   extra_sauce      129 non-null    object
 7   extra_cheese     129 non-null    object
 8   extra_mushrooms  129 non-null    object
dtypes: object(9)
memory usage: 9.2+ KB

In [8]:
# Number of unique values present in each feature column

df.nunique()

company             5
price_rupiah       43
diameter           12
topping            12
variant            20
size                6
extra_sauce         2
extra_cheese        2
extra_mushrooms     2
dtype: int64

In [9]:
df.isna().any()

company            False
price_rupiah       False
diameter           False
topping            False
variant            False
size               False
extra_sauce        False
extra_cheese       False
extra_mushrooms    False
dtype: bool

In [10]:
df.isna().sum()

company            0
price_rupiah       0
diameter           0
topping            0
variant            0
size               0
extra_sauce        0
extra_cheese       0
extra_mushrooms    0
dtype: int64

In [17]:

# Descriptive Statistics

df.describe().T

                count unique       top freq
company           129      5         C   30
price_rupiah      129     43  Rp72,000   11
diameter          129     12   12 inch   49
topping           129     12   chicken   29
variant           129     20   classic   30
size              129      6    medium   41
extra_sauce       129      2       yes   76
extra_cheese      129      2       yes   86
extra_mushrooms   129      2       yes   72